.costomer-list {
    background-color: blue;
    list-style-type: none;
    display: flex;
    margin-right: 1em;
}

.list-item {
    background-color: blueviolet;
    display: flex;
    padding: 0.5em;
    color: black;
}